.landingPage {
    height: 90vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.landingPage__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landingPage__projects-link, .landingPage__contact-card {
    min-height: 275px;
    min-width: 475px;
    border-radius: 5px;
    border: 1px solid;
    padding: 12px;
    margin: 12px;
}

.landingPage__projects-link {
    background-color: #DE5220;
    position: relative;
    color: black;
    text-decoration: none;
}

.landingPage__projects-link:hover, .landingPage__contact-card:hover {
    box-shadow: 5px 5px 15px 5px #7c7979
}



.landingPage__content-header {
    text-align: right;
    font-size: 2.5em;
    padding: 1em;
}

.landingPage__contact-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
}

.landingPage__person-info, .landingPage__contact-info {
    display: flex;
    justify-content: space-between;;
    align-items: flex-end;
    padding: 15px;
}

.landingPage__arrow {
    transform: rotate(45deg);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 23em;
}

.landingPage__contact-name {
    font-weight: 700;
}

.landingPage__social-icons {
    font-size: 3em;
    margin-right: 12px;
}

.landingPage__socials a {
    text-decoration: none;
}

.landingPage__social-icons:hover {
    font-size: 3.1em;
}

.landingPage__social-icons.git {
    color: #DE5220;
}


@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    .landingPage__projects-link, .landingPage__contact-card {
        min-width: 375px;
    }


}

@media screen and (max-width: 479px) {
  /* start of phone styles */

  .landingPage {
      align-items: flex-start;
  }

  .landingPage__cards {
    margin-top: 1em;
  }

    .landingPage__projects-link, .landingPage__contact-card {
        min-width: 290px;
        min-height: 220px;
    }

    .landingPage__arrow {
        font-size: 12em;
    }

    .landingPage__person-info, .landingPage__contact-info {
        flex-direction: column;
        align-items: center;
    }

}
