a:hover {
  cursor: pointer;
}


.projects {
  background-color: white;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
  margin-top: 5em;
}

.projects__items {
  height: 250px;
  background-color: #f5f5f5;
  position: relative;
  border-radius: 10px;
}

.projects__items > img {
  width: 100%;
  height: 100%;
}

.projects__grid-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: white;
  opacity: 0;
  transition: opacity ease 200ms;
}

.projects__grid-item-overlay:hover {
  opacity: .2;
}


.projects__grid-item-name {
  position: absolute;
  font-size: 2em;
  color: white;
  left: 0;
  top: 0;
  background-color: #00000065;
  padding: 10px;
  box-shadow: 4px 13px 5px 0px #00000065;
  border-top: 3px solid white;
}

.project__grid-description {
  position: absolute;
  font-size: 1.5em;
  color: white;
  background-color: #00000065;
  padding: 10px;
  width: 50%;
  right: 0;
  top: 40%;
  line-height: 1.5em;
  box-shadow: -6px 8px 7px 0px #926d6dad;
}

.project-link {
  color: white;
  font-size: 1.5em;
  bottom: 50px;
  position: absolute;
  border-bottom: 2px solid tomato;
  background-color: #00000065;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.project-link:hover {
  box-shadow: 4px 13px 5px 0px #00000065;
  background-color: tomato;
}

.projects__items.item-1 {
  background-color: #CBD7E3;
}

.projects__items.item-2 {
  background-color: white;
}

.projects__items.item-3 {
  background-color: #C6CEC2;
}

.projects__items.item-4 {
  background-color: #8AC4E2;
}

.projects__items.item-5 {
  background-color: #F2EDE7
}

.projects__items.item-6 {
 background-color: white;
}


/* SPEACIAL WEATHER CARD */

.weather_card {
  background-color: #D6D6FF;
  display: grid;
  place-items: center;
}

.inner_card {
  height: 70%;
  width: 80%;
  box-shadow: 12px 15px 17px 3px #8a89ce;
  display: flex;
  flex-direction: column;
  background-image: url('https://images.pexels.com/photos/2093252/pexels-photo-2093252.jpeg?cs=srgb&dl=pexels-fillipe-gomes-2093252.jpg&fm=jpg');
  background-size: cover;
  position: relative;
}

.weather_image {
  height: 60%;
  background-color: brown;
}

.weather_image img {
  width: 100%;
  height: 100%;
}

.weather_info {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  color: white;
  background-color: #2c2d348f;
}

.weather_info .info {
  width: 33.33%;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 10px;
}

.weather_info .info_summary {
  text-transform: capitalize;
  border-left: 1px solid #fff;
  border-right: 1px solid;
}




@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .projects__items {
    height: 325px;
  }
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
.projects__grid-item-name {
  font-size: 2em;
}


}

@media screen and (max-width: 479px) {
/* start of phone styles */
  .projects {
    width: 90%;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-row-gap: 20px;
  }

  .weather_info {
    flex-direction: column;
  }

}