.SearchContainer {
    min-height: 90vh;
    background-image: url(https://images.pexels.com/photos/3842751/pexels-photo-3842751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940),
    url(https://images.pexels.com/photos/2249964/pexels-photo-2249964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-color: #FBFBFB;
    background-position: bottom left 1em, bottom 2em right 1em;
    background-repeat: no-repeat;
    background-size: 50% 60%, 50% 50% ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

}

.searchBookForm {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em
}

.searchBookForm > .textInput {
    width: 50em;
    background-color: #ffffff;
    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: -2px 9px 21px 4px rgba(0,0,0,0.10);
    border-radius: 5px;
    animation-name: loadsearch;
    animation-duration: 2s;
}


@keyframes loadsearch {
    from {width: 0em}
    to {width: 50em}
}

.textInput > .searchField {
    flex: 1;
    height: 3em;
    border: none;
    font-size: 16px;
}

.searchBookButton {
    height: 3.7em;
    width: 8em;
    background-color: #1595EC;
    border: none;
    color: white;
    cursor: pointer;
}

.searchBookButton:hover {
    background-color: #1077bd;
}



.searchBookForm > label {
    font-size: 2em;
    margin: 1.5em;
}

.searchBookForm > label > h1 > span {
    color: #1595EC;
}



.bookList {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow: scroll;
    position: absolute;
    padding: 0 10em;
    top: 0;
    background-color: #ffffff;
    padding: 0 12em;

}

.bookList .BackButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    height: 1em;
    /* width: 10em; */
    border-radius: 10px;
    font-size: 1.3em;
    position: fixed;
    bottom: 5em;
    right: 2em;
    z-index: 10;
}

.bookList .BackButton span {
    margin-right: 10px;
}


.bookTile {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-bottom: 3px solid tomato;
    width: 250px;
    height: 250px;
    margin: 10px 5px;
    position: relative;
    overflow: hidden;
}

.bookTile .info {
    color: white;
    position: absolute;
    background-image: linear-gradient(#93A5CF, #E4EfE9);
    width: 100%;
    height: 100%;
    left: -25em;
    transition: left .5s;
    display: flex;
    flex-direction: column;
}

.bookTile .info p {
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

.bookTile .info .info-icons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: center;
    width: 100px;
    margin: auto;

}

.info-icons .icons {
    border: none;
    background-color: transparent;
    font-size: 2.5em;
    text-decoration: none;
    color: black;
}

.info-icons .icons:hover {
    color: cadetblue;
    cursor: pointer;
}

.bookTile .book-image {
    width: 120px;
    height: 170px;
    box-shadow: 20px 20px 36px 1px #0000001c;
    border: none;
}

.bookTile .book-image:hover {
    cursor: pointer;
}

.showCard {
    height: 18em;
    width: 15em;
    position: absolute;
    right: 5em;
    top: 25%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: -2px 9px 21px 4px rgba(0,0,0,0.10);
    overflow: hidden;
}

.showCard.right-card {
    animation-name: showCardDropRight;
    animation-duration: 3s;
}

.showCard.left-card {
    animation-name: showCardDropLeft;
    animation-duration: 3s;
}

.showCard > img {
    width: 15em;
}

.showCard > .show_description {
    padding: 1em;
}

@keyframes showCardDropRight {
    from {top: 0}
    to {top: 25%}
}

@keyframes showCardDropLeft {
    from {top: 0}
    to {top: 50%}
}



@media screen and (max-width: 1200px) {
    /* start of large tablet styles */
    .bookList {
        padding: 0;
    }
  }

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
}


@media screen and (max-width: 479px) {
/* start of phone styles */
    .SearchContainer {
        background-image: url(https://images.pexels.com/photos/3842751/pexels-photo-3842751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: top;
        background-size: 100% 50%;
    }

    .searchBookForm {
        flex-direction: column-reverse;
        position: absolute;
        margin: auto;
        top: 50%;
    }

    .searchBookForm > label {
        font-size: 1em;
    }

    .searchBookForm > .textInput {
        width: 100%;
    }

    .showCard {
        display: none;
    }

    @keyframes loadsearch {
        from {width: 0em}
        to {width: 100%}
    }

    .bookList .BackButton {
        bottom: 10px;
        right: 10px;
    }

}