.footer {
    display: flex;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-image: url('https://images.pexels.com/photos/4340919/pexels-photo-4340919.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    
}

.footer__github-button {
    background-color: black;
    width: 10em;
    height: 3em;
    z-index: 1;
    font-family: inherit;
    margin: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 14px;
}

.footer__github-button:hover {
    border: 1px solid var(--tertiary-color);
    cursor: pointer;
}

.footer__copyright {
    z-index: 1;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4;
}

.footer__color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2C2D34;
    opacity: 0.8;
}